@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

@layer components {
  /*
    Fonts
  */

  body {
    font-family: "Nunito", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

  .button,
  .call-to-action {
    font-family: "Playfair Display", serif;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  /*
    Color
  */

  body {
    background-color: #f2f2f4;
    color: #320763;
  }

  /*  Other  */
  .progress {
    background: radial-gradient(
        closest-side,
        rgba(255, 255, 255, 0.357) 60%,
        #32076360
      ),
      conic-gradient(#32076350 80%, #ecf0f1 90%);
  }
}

/*

        Light Blue Background:

Background Color: #f2f2f4 (original)
Text Color: #320763 (original)
Accent Color: #3498db (light blue)

        Dark Green Background:

Background Color: #17202a (dark greenish-blue)
Text Color: #f2f2f4 (light)
Accent Color: #78e08f (dark green)

        Light Gray Background:

Background Color: #ecf0f1 (light gray)
Text Color: #320763 (original)
Accent Color: #e74c3c (red)

        Soft Purple Background:

Background Color: #d5d8dc (soft purple-gray)
Text Color: #320763 (original)
Accent Color: #9b59b6 (purple)

        Muted Yellow Background:

Background Color: #f7f2e7 (muted yellow)
Text Color: #320763 (original)
Accent Color: #f39c12 (orange)

*/
