@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

@layer components {
  /*
    Fonts
  */

  body {
    font-family: "Nunito", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

  .button,
  .call-to-action {
    font-family: "Playfair Display", serif;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  /*
    Color
  */

  body {
    background-color: #f2f2f4;
    color: #320763;
  }

  /*  UTIL  */

  /*  use-crowdFunding  */
  .margin-start-260 {
    margin-left: 260px;
  }

  .margin-start-0 {
    margin-left: 0px;
  }

  .view-size {
    margin-top: 5rem;
    display: grid;
  }

  .grid-columns-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-columns-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-columns-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /*  END UTIL  */

  /*  Other  */
  .progress {
    background: radial-gradient(
        closest-side,
        rgba(255, 255, 255, 0.357) 60%,
        #32076360
      ),
      conic-gradient(#32076350 80%, #ecf0f1 90%);
  }

  .up {
    z-index: 1000;
  }
}
