@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

@layer components {
  /*
    Fonts
  */

  body {
    font-family: "Nunito", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

  .button,
  .call-to-action {
    font-family: "Playfair Display", serif;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  /*
    Color
  */

  body {
    background-color: #f2f2f4;
    color: #320763;
  }

  /*  UTIL  */

  /*  use-crowdFunding  */
  .margin-start-260 {
    margin-left: 260px;
  }

  .margin-start-0 {
    margin-left: 0px;
  }

  .animate-margin-left {
    transition: margin-left 0.6s linear;
  }

  .view-size {
    margin-top: 5rem;
    display: grid;
  }

  .grid-columns-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-columns-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-columns-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /*  END UTIL  */

  /*  Other  */
  .progress {
    background: radial-gradient(
        closest-side,
        rgba(255, 255, 255, 0.357) 60%,
        #32076360
      ),
      conic-gradient(#32076350 80%, #ecf0f1 90%);
  }
}

._left0-open {
  left: 0%;
  width: 13rem;
  animation: 1s _left-0-open;
}

._left20-open {
  left: 20%;
  width: 13rem;
  animation: 1s _left-20-open;
}

._left40-open {
  left: 40%;
  width: 13rem;
  animation: 1s _left-40-open;
}

._left60-open {
  left: 60%;
  width: 13rem;
  animation: 1s _left-60-open;
}

._left80-open {
  left: 80%;
  width: 13rem;
  animation: 1s _left-80-open;
}

@keyframes _left-0-open {
  0% {
    left: -1%;
  }
  100% {
    left: 0%;
  }
}

@keyframes _left-20-open {
  0% {
    left: 10%;
  }
  100% {
    left: 20%;
  }
}

@keyframes _left-40-open {
  0% {
    left: 20%;
  }
  100% {
    left: 40%;
  }
}

@keyframes _left-60-open {
  0% {
    left: 30%;
  }
  100% {
    left: 60%;
  }
}

@keyframes _left-80-open {
  0% {
    left: 40%;
  }
  100% {
    left: 80%;
  }
}

._left0-close {
  text-align: start;
  width: 4rem;
  transition: width 0.8s ease;
}

._left20-close {
  left: 5%;
  width: 4rem;
  transition: width 0.8s ease;
  animation: 1s _left-20-close;
}

._left40-close {
  left: 10%;
  width: 4rem;
  transition: width 0.8s ease;
  animation: 1s _left-40-close;
}

._left60-close {
  left: 15%;
  width: 4rem;
  transition: width 0.8s ease;
  animation: 1s _left-60-close;
}

._left80-close {
  left: 20%;
  animation: 1s _left-80-close;
}

@keyframes _left-20-close {
  0% {
    left: 20%;
  }
  100% {
    left: 5%;
  }
}

@keyframes _left-40-close {
  0% {
    left: 40%;
  }
  100% {
    left: 10%;
  }
}

@keyframes _left-60-close {
  0% {
    left: 60%;
  }
  100% {
    left: 15%;
  }
}

@keyframes _left-80-close {
  0% {
    left: 80%;
  }
  100% {
    left: 20%;
  }
}
